#vanillatoasts-container {
    position: fixed;
    width: 280px;
    font-family: 'Helvetica';
    pointer-events: none;
}

.toasts-top-right {
    top: 0;
    right: 0;
}

.toasts-top-left {
    left: 0;
    top: 0;
}

.toasts-bottom-left {
    left: 0;
    bottom: 0;
}

.toasts-bottom-right {
    bottom: 0;
    right: 0;
}

.toasts-top-center {
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}

.toasts-bottom-center {
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.vanillatoasts-toast {
    position: relative;
    padding: 8px 12px;
    margin: 10px;
    border-radius: 4px;
    background: #1c1c1c;
    cursor: pointer;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    animation-duration: .3s;
    animation-name: VanillaToasts;
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    pointer-events: all;
    padding-left: 34px;
    color: #ddd;
}

.vanillatoasts-toast::before {
    content: '';
    display: block;
    height: 16px;
    width: 16px;
    border-radius: 100%;
    background-color: #ddd;
    position: absolute;
    top: 12px;
    left: 10px;
}

.vanillatoasts-fadeOut {
    animation-name: VanillaToastsFadeOut;
    animation-duration: .3s;
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-fill-mode: forwards;
}

#vanillatoasts-container p,
#vanillatoasts-container h4 {
    margin: 3px 0 !important;
}

#vanillatoasts-container h4 {
    font-size: 14px;
    font-weight: 400;
}

.vanillatoasts-title {
    font-weight: 700;
    font-size: 15px;
    margin-bottom: 10px;
}

.vanillatoasts-text {
    font-size: 14px;
    color: #777;
}

.vanillatoasts-icon {
    position: absolute;
    top: 5px;
    left: -40px;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    background: #FFF;
}

.vanillatoasts-toast a,
.vanillatoasts-toast a:hover {
    color: #549EDB !important;
    text-decoration: none !important;
}

/** toast types */
.vanillatoasts-success::before {
    background-color: #51C625;
}

.vanillatoasts-warning::before {
    background-color: #DB9215;
}

.vanillatoasts-error::before {
    background-color: #ff6458;
}

.vanillatoasts-info::before {
    background-color: #27ABDB;
}

@keyframes VanillaToasts {
    from {
        transform: translate3d(400px, 0, 0);
        ;
        opacity: 0;
    }

    to {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

@keyframes VanillaToastsFadeOut {
    from {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }

    to {
        transform: translate3d(400px, 0, 0);
        opacity: 0;
    }
}