.d5clear::after {
    content: '';
    display: block;
    clear: both;
}

.d5fl {
    float: left;
}

.d5w50 {
    width: 50%;
}

.d5cbox {
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.1);
    font-size: 14px;
}

.d5cbox.d {
    border-style: dashed;
}

.d5sectl {
    font-size: 16px;
    font-weight: bold;
    margin: 0 0 6px 0;
    line-height: 1.2;
}

.d5cboxtl {
    font-size: 14px;
    margin: 0;
    color: #a55f3d;
    padding: 0 0 6px 0;
    line-height: 1.2;
}

.d5pd6 {
    padding: 6px;
}

.d5pdt6 {
    padding-top: 6px;
}

.d5pd12,
.d5pd {
    padding: 12px;
}

.d5pd1h {
    padding: 18px;
}

.d5pd2 {
    padding: 24px;
}

.d5pd3 {
    padding: 36px;
}

.d5pd2tbh {
    padding: 12px 24px;
}

.d5pd2tb1h {
    padding: 18px 24px;
}

.d5bb {
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

.d5bbi {
    border-bottom: 1px solid rgba(255, 255, 255, 0.15) !important;
}

.d5bb2 {
    border-bottom: 1px solid rgba(255, 255, 255, .1);
}

.d5bb3 {
    border-bottom: 1px solid rgba(255, 255, 255, .05);
}

.d5clk {
    cursor: pointer;
}

.d5clk:hover {
    opacity: 0.85;
}

.d5clk:active {
    opacity: 0.75;
}

.fa-spin {
    -webkit-animation: fa-spin 1.2s infinite linear !important;
    animation: fa-spin 1.2s infinite linear !important;
}

.d5rel {
    position: relative;
}

.d5cpri {
    color: #426191;
}

.d5csec {
    color: #a55f3d;
}

.d5bpri {
    background-color: #426191;
}

.d5bsec {
    background-color: #a55f3d;
}

.d5tc {
    text-align: center;
}

.d5tr {
    text-align: right;
}

.d5cptr {
    cursor: pointer;
}

.d5cred {
    color: #933434;
    color: #f14848d5;
}

.d5cnom {
    color: rgba(255, 255, 255, 0.55);
}

.d5bred {
    background-color: #933434;
}

.d5cgreen {
    color: green;
}

.d5bgreen {
    background-color: green;
}

.d5r4 {
    border-radius: 4px;
}

.d5r8b {
    border-radius: 0 0 8px 8px;
}

.d5r18 {
    border-radius: 18px;
}

.d5r18i {
    border-radius: 18px !important;
}

.d5ol {
    margin: 0;
    padding: 4px 28px;
}

.d5f14 {
    font-size: 14px;
    line-height: 1.5;
}

.d5f16 {
    font-size: 16px;
    line-height: 1.4;
}

.d5f18 {
    font-size: 18px;
    line-height: 1.4;
}

.d5dim {
    opacity: 0.6;
}

.d5dim2 {
    opacity: 0.3;
}

.d5dim4 {
    opacity: 0.4;
}

.d5dim7 {
    opacity: 0.7;
}

.d5flex {
    display: flex;
}

.d5pl4 {
    padding-left: 4px;
}

.d5pl8 {
    padding-left: 8px;
}

.d5ml10 {
    margin-left: 10px;
}

.d5mb6 {
    margin-bottom: 6px;
}

.d5mb10 {
    margin-bottom: 10px;
}

.d5mt10 {
    margin-top: 10px;
}

.d5mt14 {
    margin-top: 14px;
}

.d5mt18 {
    margin-top: 18px;
}

.d5mt20 {
    margin-top: 20px;
}

.d5mr10 {
    margin-right: 10px;
}

.d5bt {
    border-top: 1px solid rgba(255, 255, 255, 0.15);
}

.d5bti {
    border-top: 1px solid rgba(255, 255, 255, 0.15) !important;
}

.d5bt2 {
    border-top: 1px solid rgba(255, 255, 255, .1);
}

.d5bt3 {
    border-top: 1px solid rgba(255, 255, 255, .05);
}

.d5bl {
    border-left: 1px solid rgba(255, 255, 255, 0.15);
}

.d5bli {
    border-left: 1px solid rgba(255, 255, 255, 0.15) !important;
}

.d5bl2 {
    border-left: 1px solid rgba(255, 255, 255, .1);
}

.d5bl3 {
    border-left: 1px solid rgba(255, 255, 255, .05);
}

.d5fc {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.d5bg {
    background-color: #1c1c1c;
}

.d5form {
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
    margin-left: -6px;
    margin-right: -6px;
}

.d5form>div {
    padding-left: 6px;
    padding-right: 6px;
}

.d5form.d5halfy>div {
    width: 50%;
}

.d5ptb10 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.d5ptb20 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.d5ptb6 {
    padding-top: 6px;
    padding-bottom: 6px;
}

.d5pt4 {
    padding-top: 4px;
}

.d5pt10 {
    padding-top: 10px;
}

.d5pt18 {
    padding-top: 18px;
}

.d5link {
    text-decoration: underline;
    color: #426191;
}

.d5link:hover {
    text-decoration: none;
}

.d5link2 {
    text-decoration: none;
    color: #a55f3d;
}

.d5link2:hover {
    text-decoration: underline;
}

.d5decnone {
    text-decoration: none;
}

.d5blink {
    animation: d5blink 1s infinite linear;
}

.d5gdim {
    color: #888;
    opacity: 0.3;
}

.d5nosel {
    -webkit-user-select: none;
    user-select: none;
}

.d5f20 {
    font-size: 20px;
    line-height: 1.4;
}

.d5mt6 {
    margin-top: 6px;
}

.d5mt4 {
    margin-top: 4px;
}

.d5f12 {
    font-size: 12px;
    line-height: 1.5;
}

.d5ball {
    border: 1px solid rgba(255, 255, 255, 0.15)
}

.d5ball.d {
    border-style: dashed;
}

.d5acflex {
    display: flex;
    align-items: center;
}

.d5scroll {
    overflow-x: hidden;
    overflow-y: auto;
}

.d5cflex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.d5lh1 {
    line-height: 1;
}

.d5gap10 {
    gap: 10px;
}

.d5gap20 {
    gap: 20px;
}

.d5gap6 {
    gap: 6px;
}

.d5grow {
    flex-grow: 1;
}

.d5ferr {
    font-size: 12px;
    line-height: 1.5;
    padding: 4px 0 0;
    color: #f14848;
}

.d5req {
    color: #f14848;
}

.d5ib {
    display: inline-block;
}

.d5flash {
    animation: d5flash linear 0.6s;
}

.d5smlb {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 1;
    margin-bottom: 8px;
}

.d5fw {
    width: 100%;
}

.d5hbg {
    background: radial-gradient(#a5603d15, #42619112);
}

.d5pb10 {
    padding-bottom: 10px;
}

.d5pb20 {
    padding-bottom: 20px;
}

.d5bb.d {
    border-bottom-style: dashed;
}

.d5bt.d {
    border-top-style: dashed;
}

.d5ml6 {
    margin-left: 6px;
}

.d5bgb {
    background-color: #1c1c1c;
}

.d5abs {
    position: absolute;
}

.d5topr {
    top: 0;
    right: 0;
}

.d5btmr {
    bottom: 0;
    right: 0;
}

.d5arrdown,
.d5arrleft,
.d5arrright,
.d5arrup {
    border: solid #426191;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
}

.d5arrright {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.d5arrleft {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.d5arrup {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.d5arrdown {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.d5trunc {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.d5block {
    display: block !important;
}

.d5none {
    display: none !important;
}

.d5fdcol {
    flex-direction: column;
}

.d5fwb {
    font-weight: bold;
}

.d5fw600 {
    font-weight: 600;
}

.d5asc {
    align-self: center;
}

.d5cwhite {
    color: #fff;
}

.shimm-in {
    background: linear-gradient(to right, #0000001a 5%, rgba(255, 255, 255, 0.01), #0000001a 35%);
    animation: shimm 1.75s infinite linear;
    background-size: 800px 104px;
    border: 1px solid transparent !important;
    color: transparent !important;
}

.d5mb20 {
    margin-bottom: 20px;
}

.d5ndesc {
    font-size: 18px;
    line-height: 1.5;
}

.d5nflex {
    align-items: center;
    column-gap: 12px;
}

.d5ovxh {
    overflow-x: hidden;
}

.d5w600 {
    font-weight: 600;
}

.d5achln:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
    background-color: transparent !important;
}

.d5achln:-moz-autofill,
.d5achln:-webkit-autofill {
    background-color: transparent !important;
}

@keyframes d5blink {
    0% {
        opacity: 0.3;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0.3;
    }
}

@keyframes d5flash {
    0% {
        background-color: #a55f3d;
    }

    100% {
        background-color: transparent;
    }
}

@keyframes shimm {
    0% {
        background-position: -800px 0;
    }

    100% {
        background-position: 800px 0;
    }
}

.d5bsb,
.d5bsb * {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}