.modal,
.modalw {
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal {
    z-index: 100;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

.modalc {
    width: 300px;
    height: 220px;
    background-color: #1c1c1c;
    box-shadow: 0 0 4px #000;
    border-radius: 8px;
    position: relative;
    margin-top: auto;
    margin-bottom: auto;
}

.zoomin {
    animation: scaleIn 0.2s;
}

@keyframes scaleIn {
    0% { transform: scale(0); }
    100% { transform: scale(1); }
}

.cnfmsg {
    color: #aaa;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
}

.cnfbtns {
    margin-top: 10px;
    text-align: center;
}

.cnfbtns button {
    display: inline-block;
}

.cnfbtns button + button {
    margin-left: 8px;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    line-height: 1;
    cursor: pointer;
}